/* 
//////////////
Media queries
//////////////
*/

/* mobile first approach */

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
    main {
        width: 70%;
    }
    aside {
        width: 26%;
    }

    .article-more {
        flex-direction: row;
        justify-content: space-between;
        margin: 1em 0;
    }

    .article-more-img-sec {
        width: 23%;
    }

    .article-more-info-sec {
        width: 72%;
    }

    .article-more-image,
    .top-widget-image,
    .bottom-widget-image {
        height: 90%;
    }

    .article-date {
        margin-top: 0.5em;
        display: inline-block;
    }
    .article-more-image {
        height: 100%;
    }

    .article-title {
        padding-top: 0;
    }
}

/* 
 I used negative margin to have more responsive layout */
@media (min-width: 550px) and (max-width: 674px) {
    .article-more-info-sec {
        margin-top: -2.5em;
    }

    .article-date {
        text-align: right;
    }

    .main-date {
        text-align: left;
    }
}
