/* Fonts 

font-family: 'lora', serif;
font-family: 'Ubuntu', sans-serif; */

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/*===============
Typography
=================*/
h1 {
  font-family: fantasy;
  font-weight: 400;
  color: #143774;
  font-size: 2rem;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
}

/* =============
STYLES
===============*/
header {
  text-align: center;
  background: #f8f8f8;
  padding: 2em 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

/* navigation */
nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  padding: 1em 0;
}

nav li {
  margin-left: 2em;
  padding: 1em 0;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a :focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }
  nav li {
    margin-left: 0;
  }
}
