body {
  font-size: 1.125rem;
  color: #707070;
  margin: 0;
}

/* typography */
h1 {
  font-size: 3rem;
  color: #212614;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
}

img {
  max-width: 100%;
}

h1 span {
  color: #b7832f;
}

/* layout */
.container {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
}

.image {
  display: flex;
  justify-content: center;
}
.column {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.col-1 {
  width: 20%;
}
.col-2 {
  width: 45%;
}
.col-3 {
  width: 70%;
}

.col-background {
  background-color: #312614;
  padding: 1em;
  color: white;
}

/* media queries */
@media (max-width: 600px) {
  .column {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}
