/* Tip 
when structuring the website do desktop first for html 
then when it comes to CSS , prefer mobile first approach */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block; /* Very Imp */
    order: 1;
}
footer {
    font-size: 1.125rem;
    background-color: #143774;
    text-align: center;
    color: white;
    font-family: "Ubuntu", arial;
    padding: 3em 0;
    font-weight: 300;
}
.footer-title {
    font-weight: 700;
}

/*===============
Typography
=================*/

/* fonts : Lora 400 only
 ubuntu is 300 and 700 only  */

h1,
h2,
h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #143774;
    margin-top: 0;
}

h1 {
    font-size: 2rem;
}

strong {
    font-weight: 700;
}

.widget-title {
    font-family: "Ubuntu";
    font-weight: bold;
    font-size: 1.125rem;
}

.widget-body {
    font-family: "Lora";
    font-size: 0.875rem;
}

.bottom-widget-title {
    font-size: 1.125rem;
}
/* the logo subtitle  / h1 subtitle  */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
    padding: 1em 0;
    order: 3;
}
.article-body {
    padding-bottom: 1em;
    order: 4;
}

.continue-reading {
    font-size: 0.875rem;
    font-weight: 700;
    color: #1792d2;
    text-decoration: none;
    order: 5;
    padding: 1em 0;
    letter-spacing: 3px;
    word-spacing: 6px;
}
.continue-reading:hover,
.continue-reading:focus {
    color: #143774;
    text-decoration: underline;
}

.article-date {
    font-size: 0.875rem;
    margin: 2em 0;
    margin-bottom: 0;
    order: 2;
}

.article-body a {
    color: #1792d2;
    font-weight: bolder;
}

.article-body a:hover,
.article-body a:focus {
    color: #143774;
}

/* articles  */
/* 
i am ordering the css display components in different order because it is better for SEO and it makes sense if the css fails to load for some odd reason */
.article-main {
    border-bottom: 1px solid #707070;

    padding-bottom: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
}

.article-more {
    padding: 1.25em 0;
    display: flex;
    flex-direction: column;
}

/* =============
STYLES
===============*/

/* Images  */
.article-more-image,
.top-widget-image,
.bottom-widget-image {
    object-fit: cover;
    max-height: 250px;
    width: 100%;
}

.top-widget-image {
    max-height: 150px;
}

.bottom-widget-image {
    max-height: 100px;
    object-fit: cover;
    object-position: 25% 70%;
}

/* 
///////////////////
Layout 
////////////////// */
header {
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
    margin-bottom: 2.5em;
}
main,
aside {
    width: 95%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
}
aside {
    width: 100%;
}

/* 
//////////////////
Sidebar styles 
////////////////// */

.top-widget-image {
    padding: 1em 0;
}
.bottom-widget-image {
    padding: 0.5em 0;
}
.sidebar-widget {
    border: 20px solid #ebebeb;
}

.bottom-widget {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 2em;
}

.bottom-widget-posts {
    padding-bottom: 1em;
    border-bottom: 1px solid #707070;
}

/* 
the last child pseudo selector is used to apply styles to the last child inside a parent. */
.bottom-widget-posts:last-child {
    border: none;
    padding-bottom: none;
}
.sidebar-widget {
    padding: 1em;
}

/* navigation */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    padding: 1em 0;
}

nav li {
    margin-left: 0;
    padding: 1em 1em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover,
nav a :focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

/* 
//////////////
Media queries
//////////////
*/

/* mobile first approach */

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
    main {
        width: 74%;
    }
    aside {
        width: 22%;
    }

    .article-more {
        flex-direction: row;
        justify-content: space-between;
        margin: 1em 0;
    }

    .article-more-img-sec {
        width: 28%;
    }

    .article-more-info-sec {
        width: 68%;
    }

    .article-more-image,
    .top-widget-image,
    .bottom-widget-image {
        height: 100%;
    }

    .article-date {
        margin-top: 0.5em;
        display: inline-block;
    }
    .aritcle-more-image {
        height: 100%;
    }

    .article-title {
        padding-top: 0;
    }
}

/* 
 I used negative margin to have more responsive layout */
@media (min-width: 550px) and (max-width: 674px) {
    .article-more-info-sec {
        margin-top: -2.5em;
    }

    .article-date {
        text-align: right;
    }

    .main-date {
        text-align: left;
    }
}
