/* Tip 
when structuring the website do desktip first for html 
then when it comes to CSS , preffere mobile first approach */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-size: 1.125rem;
    font-weight: 300;
}

img {
    max-width: 100%;
    display: block; /* Very Imp */
}

/*===============
Typography
=================*/

/* fonts : Lora 400 only
 ubuntu is 300 and 700 only  */

h1,
h2,
h3 {
    font-family: "Lora", serif;
    font-weight: 400;
    color: #143774;
}

h1 {
    font-size: 2rem;
}

strong {
    font-weight: 700;
}
/* the logo subtitle  / h1 subtitle  */
.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: 0.75rem;
    margin: 0;
}

.article-title {
    font-size: 1.5rem;
    padding: 1em 0;
}
.article-body {
    padding-bottom: 1em;
}

.continue-reading {
    font-size: 0.875rem;
    font-weight: 700;
    color: #1792d2;
    text-decoration: none;
}
.continue-reading:hover,
.continue-reading:focus {
    color: #143774;
    text-decoration: underline;
}

.article-date {
    font-size: 0.875rem;
    margin: 2em 0;
}

.article-body a {
    color: #1792d2;
    font-weight: bolder;
}

.article-body a:hover,
.article-body a:focus {
    color: #143774;
}

/* articles  */
.article-main {
    border-bottom: 1px solid #707070;

    padding-bottom: 1em;
    margin-bottom: 2em;
}

.article-more {
    padding: 2.5em 0;
}

/* =============
STYLES
===============*/

/* 
///////////////////
Layout 
////////////////// */
header {
    text-align: center;
    background: #f8f8f8;
    padding: 2em 0;
}
main,
aside {
    width: 95%;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100%;
}
aside {
    width: 100%;
}

/* navigation */
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    padding: 1em 0;
}

nav li {
    margin-left: 0;
    padding: 1em 1em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover,
nav a :focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

/* 
//////////////
Media queries
//////////////
*/

/* mobile first approach */

@media (min-width: 675px) {
    .container-flex {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
    main {
        width: 72%;
    }
    aside {
        width: 23%;
    }
}
